In [2]:
import pandas as pd 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
df = pd.read_csv('Association_Rule.csv')
df

,Checking Acct,Credit Hist,Purpose,Savings Acct,Employment,Gender,Marital Status,Housing,Job,Telephone,Foreign,Age,Credit Standing
0,0Balance,Current,Small Appliance,Low,Short,M,Single,Own,Unskilled,Yes,Yes,23,Good
1,0Balance,Current,Furniture,MedLow,Unemployed,M,Divorced,Own,Skilled,Yes,Yes,32,Bad
2,No Acct,Bank Paid,Car New,Low,Long,M,Single,Own,Management,No,Yes,38,Bad
3,Low,Current,Furniture,Low,Short,M,Single,Own,Unskilled,Yes,Yes,36,Bad
4,Low,Delay,Education,MedLow,Medium,M,Single,Rent,Skilled,No,Yes,31,Good
...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,No Acct,Critical,Small Appliance,No Acct,Long,M,Single,Other,Skilled,Yes,Yes,35,Good
421,0Balance,Current,Furniture,No Acct,Long,M,Single,Own,Skilled,Yes,Yes,30,Bad
422,0Balance,Current,Car New,No Acct,Long,F,Divorced,Own,Skilled,Yes,Yes,28,Bad
423,0Balance,Current,Car New,Low,Short,F,Divorced,Own,Skilled,No,Yes,28,Bad
424,No Acct,Critical,Car New,Low,Medium,M,Single,Own,Management,No,Yes,44,Good

In [3]:

data =  df.iloc[:, [0,1,2,12]]
#data = data.insert(0, 'Instance', range(len(data))) error
data

    Checking Acct Credit Hist          Purpose Credit Standing
0        0Balance     Current  Small Appliance            Good
1        0Balance     Current        Furniture             Bad
2         No Acct   Bank Paid          Car New             Bad
3             Low     Current        Furniture             Bad
4             Low       Delay        Education            Good
..            ...         ...              ...             ...
420       No Acct    Critical  Small Appliance            Good
421      0Balance     Current        Furniture             Bad
422      0Balance     Current          Car New             Bad
423      0Balance     Current          Car New             Bad
424       No Acct    Critical          Car New            Good

[425 rows x 4 columns]

In [4]:
#data = data.drop(['Combination'], axis=1)
data['Transaction_ID'] = range(880, 880+len(data["Credit Hist"]))
#data = data.rename(columns={"Transaction": "Transaction_ID"})
data

C:\Users\Clarence\AppData\Local\Temp\ipykernel_17508\1861842064.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Transaction_ID'] = range(880, 880+len(data["Credit Hist"]))

    Checking Acct Credit Hist          Purpose Credit Standing  Transaction_ID
0        0Balance     Current  Small Appliance            Good             880
1        0Balance     Current        Furniture             Bad             881
2         No Acct   Bank Paid          Car New             Bad             882
3             Low     Current        Furniture             Bad             883
4             Low       Delay        Education            Good             884
..            ...         ...              ...             ...             ...
420       No Acct    Critical  Small Appliance            Good            1300
421      0Balance     Current        Furniture             Bad            1301
422      0Balance     Current          Car New             Bad            1302
423      0Balance     Current          Car New             Bad            1303
424       No Acct    Critical          Car New            Good            1304

[425 rows x 5 columns]

In [5]:
#Rearrange
data = data[["Transaction_ID", "Checking Acct", "Credit Hist", "Purpose", "Credit Standing"]]
data

     Transaction_ID Checking Acct Credit Hist          Purpose Credit Standing
0               880      0Balance     Current  Small Appliance            Good
1               881      0Balance     Current        Furniture             Bad
2               882       No Acct   Bank Paid          Car New             Bad
3               883           Low     Current        Furniture             Bad
4               884           Low       Delay        Education            Good
..              ...           ...         ...              ...             ...
420            1300       No Acct    Critical  Small Appliance            Good
421            1301      0Balance     Current        Furniture             Bad
422            1302      0Balance     Current          Car New             Bad
423            1303      0Balance     Current          Car New             Bad
424            1304       No Acct    Critical          Car New            Good

[425 rows x 5 columns]

In [6]:
combine_columns = lambda row: f"{row['Checking Acct']} {row['Credit Hist']} {row['Purpose']}"
data['Description'] = data.apply(combine_columns, axis=1)
data

C:\Users\Clarence\AppData\Local\Temp\ipykernel_17508\2388425526.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Description'] = data.apply(combine_columns, axis=1)

,Transaction_ID,Checking Acct,Credit Hist,Purpose,Credit Standing,Description
0,880,0Balance,Current,Small Appliance,Good,0Balance Current Small Appliance
1,881,0Balance,Current,Furniture,Bad,0Balance Current Furniture
2,882,No Acct,Bank Paid,Car New,Bad,No Acct Bank Paid Car New
3,883,Low,Current,Furniture,Bad,Low Current Furniture
4,884,Low,Delay,Education,Good,Low Delay Education
...,...,...,...,...,...,...
420,1300,No Acct,Critical,Small Appliance,Good,No Acct Critical Small Appliance
421,1301,0Balance,Current,Furniture,Bad,0Balance Current Furniture
422,1302,0Balance,Current,Car New,Bad,0Balance Current Car New
423,1303,0Balance,Current,Car New,Bad,0Balance Current Car New
424,1304,No Acct,Critical,Car New,Good,No Acct Critical Car New

In [15]:
final_data =  data.iloc[:, [0,5]]
final_data['CreditStandingBool'] = data['Credit Standing'].apply(lambda x: 0 if x == 'Bad' else 1)
final_data

C:\Users\Clarence\AppData\Local\Temp\ipykernel_17508\2531091019.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['CreditStandingBool'] = data['Credit Standing'].apply(lambda x: 0 if x == 'Bad' else 1)

     Transaction_ID                       Description  CreditStandingBool
0               880  0Balance Current Small Appliance                   1
1               881        0Balance Current Furniture                   0
2               882         No Acct Bank Paid Car New                   0
3               883             Low Current Furniture                   0
4               884               Low Delay Education                   1
..              ...                               ...                 ...
420            1300  No Acct Critical Small Appliance                   1
421            1301        0Balance Current Furniture                   0
422            1302          0Balance Current Car New                   0
423            1303          0Balance Current Car New                   0
424            1304          No Acct Critical Car New                   1

[425 rows x 3 columns]

In [16]:
# Stripping extra spaces in the description
final_data['Description'] = final_data['Description'].str.strip()

final_data

C:\Users\Clarence\AppData\Local\Temp\ipykernel_17508\13759469.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_data['Description'] = final_data['Description'].str.strip()

     Transaction_ID                       Description  CreditStandingBool
0               880  0Balance Current Small Appliance                   1
1               881        0Balance Current Furniture                   0
2               882         No Acct Bank Paid Car New                   0
3               883             Low Current Furniture                   0
4               884               Low Delay Education                   1
..              ...                               ...                 ...
420            1300  No Acct Critical Small Appliance                   1
421            1301        0Balance Current Furniture                   0
422            1302          0Balance Current Car New                   0
423            1303          0Balance Current Car New                   0
424            1304          No Acct Critical Car New                   1

[425 rows x 3 columns]

In [17]:
basket = (final_data.groupby(['Transaction_ID', 'Description'])['CreditStandingBool']
          .sum().unstack().reset_index().fillna(0)
          .set_index('Transaction_ID'))
basket

Description,0Balance All Paid Car New,0Balance All Paid Car Used,0Balance All Paid Furniture,0Balance All Paid Small Appliance,0Balance Bank Paid Business,0Balance Bank Paid Car New,0Balance Bank Paid Education,0Balance Bank Paid Furniture,0Balance Bank Paid Other,0Balance Bank Paid Small Appliance,...,No Acct Current Car Used,No Acct Current Education,No Acct Current Furniture,No Acct Current Large Appliance,No Acct Current Repairs,No Acct Current Small Appliance,No Acct Delay Business,No Acct Delay Car New,No Acct Delay Car Used,No Acct Delay Furniture
Transaction_ID,,,,,,,,,,,,,,,,,,,,,
880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
884,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1300,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1301,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
#Convert all positive number to one
#Convert all less than zero to 0
def encode_units(x):
    if x <= 0:
        return 0
    if x>= 1:
        return 1
basket_sets =basket.applymap(encode_units)#Apply a function to a Dataframe elementwise. This method applies a function that accepts and returns a scalar to every element of a DataFrame.
#basket_sets.drop('POSTAGE', inplace=True, axis=1) Error: POSTAGE, Solution: remove this line of code
#basket_sets.dropna(inplace=True, axis=0) #Error: Found nan, Solution: This line of code
basket_sets

Description,0Balance All Paid Car New,0Balance All Paid Car Used,0Balance All Paid Furniture,0Balance All Paid Small Appliance,0Balance Bank Paid Business,0Balance Bank Paid Car New,0Balance Bank Paid Education,0Balance Bank Paid Furniture,0Balance Bank Paid Other,0Balance Bank Paid Small Appliance,...,No Acct Current Car Used,No Acct Current Education,No Acct Current Furniture,No Acct Current Large Appliance,No Acct Current Repairs,No Acct Current Small Appliance,No Acct Delay Business,No Acct Delay Car New,No Acct Delay Car Used,No Acct Delay Furniture
Transaction_ID,,,,,,,,,,,,,,,,,,,,,
880,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
881,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
882,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
883,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
884,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1300,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1301,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1302,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1303,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1304,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
#Generate frequent itemsets with support at least 7%
frequent_itemsets = apriori(basket_sets, min_support=0.07, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules

C:\Users\Clarence\anaconda3\envs\Apriori\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

ValueError: The input DataFrame `df` containing the frequent itemsets is empty.